doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Game Dev Day - Oxford, July 23rd 2016
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    include ./_partials/scene.jade
    include ./_partials/intro.jade
    include ./_partials/who.jade
    include ./_partials/whatdo.jade
    include ./_partials/day.jade
    include ./_partials/when.jade
    include ./_partials/queries.jade
    script(src='cheet.min.js')
    script(src='main.js')
