html {
  background-image: url(assets/mountains.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #010104;
  position: static!important;
  font-size: 78%;
}
body {
  overflow: initial!important;
  overflow-x: hidden!important;
  background-image: url(assets/logo.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif
}

a-assets {
  display: none;
}
.scene {
  height: 100vh;
  position: relative;
  z-index: 0;

  .a-canvas {
    position: fixed;
    z-index: -2;
  }
}
section {
  text-align: center;
  position: relative;
  z-index: 1;
  background: rgba(#000, .9);



  .inner {
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin: auto;
    padding: 4rem 2rem;
  }
}


h2 {
  margin: 0 0 1rem;
  font-size: 2.4rem;
  color: #00e31b;
  text-transform: uppercase;
}
p, li {
  font-size: 1.5rem;
  margin: 0 0 1rem;
  line-height: 1.2;
}
a {
  position: relative;
  text-decoration: none;
  color: #fff;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .125em;
    background: #00e31b;
    z-index: -1;
    transition: height .1s ease;
  }

  &:hover {
    color: #000;
    &::after {
      height: 1em;
    }
  }
}
