section
  .inner
    h2 What does the day look like?
    ul
      li 09:30 Arrive, drink coffee and eat pastries
      li 10:00 Intro to the tech
      li 10:15 Discuss ideas and form teams
      li 10:45 Start hacking
      li 13:00 Lunch break!
      li 17:00 Demos
      li 17:30 Finish up and head to bar/cafe for post-event celebrations
    p When we get set up you'll have the chance to pair up with another attendee or embark on a workshop on your own. We'll have mentors on-hand to help if you get stuck or give you suggestions on workshops you might like.

section
  .inner
    h2 Food
    p We'll be providing pastries from a local patisserie, and a burrito lunch. You'll get to build your own burrito/box. We'll also have a selection of fruits and snacks, teas and coffees.
    p If you have any concerns about dietary requirements (or any questions whatsoever) get in touch.
