section
  .inner
    h2 What is Game Dev Day?
    p Game Dev Day is a hack day for people to have fun making games and virtual reality experiences in web technologies. It's taking place on Saturday 23rd July 2016, from 9:30am until 5:30pm.

section
  .inner
    h2 What is a hack day?
    p A hack day is an event where people come together to collaborate on interesting ideas and learn new technologies. People usually organise themselves into teams, work on a project and then demo it at the end of the day. Hack days work best when there's a relaxed, open and friendly atmosphere.

