section
  .inner
    h2 Any questions?
    p
      | You can reach out to any of the JSOxford organisers:
    ul
      li
        | Pete West (
        a(href='https://twitter.com/peterjwest/') @peterjwest
        | )
      li
        | Max Glenister (
        a(href='https://twitter.com/omgmog/') @omgmog
        | )
      li
        | Ryan Brooks (
        a(href='https://twitter.com/spikeheap/') @spikeheap
        | )
      li
        | Ben Foxall (
        a(href='https://twitter.com/benjaminbenben/') @benjaminbenben
        | )

    p
      | GDD is part of the #{''}
      a(href='http://summerofhacks.io') Summer of Hacks
      | . If you've got any questions, or just want to throw some ideas at us before the day, feel free to join us on the #{''}
      a(href='http://slack.digitaloxford.com') Digital Oxford Slack
      | .
