section
  .inner
    h2 What technologies are we using?
    p We will be focussing on web technologies: HTML and Javascript.
    p We'll have mentors who can help with libraries such as:

    ul
      li
        a(href='http://threejs.org/') ThreeJS
        | #{''} (3D scenes in javascript)
      li
        a(href='https://aframe.io/') AFrame
        | #{''} (Simple VR experiences)
      li
        a(href='http://phaser.io/') Phaser
        | #{''} (Game making framework)

    p We'll have beginner tutorials & example projects for these technologies, to get you started.

    p Feel free to try other tools and technologies, we will help wherever we can!


