section
  .inner
    h2 When and where is Game Dev Day?
    p Game Dev Day will be held on Saturday 23rd July 2016, at the Story Museum in Oxford City Centre.
    p Here is a map, and the full address:
    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9880.136840084218!2d-1.257986!3d51.750698!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37007a572c93207d!2sThe+Story+Museum!5e0!3m2!1sen!2suk!4v1463825177091', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
