section
  .inner
    h2 Who is this event for?
    p Anyone who is interested in games or VR is welcome.
    p If you can write code or draw pictures, that's a bonus!

section
  .inner
    h2 What will I need?
    p You'll need a laptop and charger. If you don't have access to a laptop let us know and we'll do our best to sort you out.
    p Bring your smartphone for VR or to use as a controller.
    p Also, bring a VR headset if you have one!
